.containerPolucion{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    justify-content: center;
}
canvas .graficoAnillo{
    width: 50%;
    height:auto ;

}

canvas.graficaLineas{
    display: flex;
    justify-content: center;
}

div.graficoAnillo{
    margin-left: 40px;
}
nav.title{
    display: flex;
    justify-content: center;

}