
.main-container {
  background-color: #1f282e;
  height: 100vh;
  overflow: auto;
  width: 100%;
}

.weather-container {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #1f282e;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-city {
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

h2 {
  color: #F6F6F6;
  font-size: 28px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  background: #27333A;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005a9e;
}

h3 {
  color: #F6F6F6;
  font-size: 24px;
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-time {
  font-size: 14px;
  color: #8a8a8a;

}

.card-temp {
  color: #fff;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 50px;
  font-weight: bold;

}


.card.active {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
